<div class="form-group">
    <div class="input-group">
        <input id="field_from" type="text" class="form-control" name="day" datetime-picker="{{dateformat}}"
               ng-model="vm.run.day" is-open="vm.datePickerOpenStatus.day" required/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('day')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
</div>
<div>
    <div class="input-group">
        <input id="field_to" type="text" class="form-control" name="day" datetime-picker="{{dateformat}}"
               ng-model="vm.run.day" is-open="vm.datePickerOpenStatus.day" required/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('day')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
</div>