<div>
    <h2>
        Runs
        <button class="btn" ui-sref="run.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span>New</span>
        </button>
    </h2>
    <alert></alert>
    <br/>
    <script type="text/ng-template" id="filters/date.html">
        <div class="form-group">
            <div class="input-group">
                <input id="field_from" type="text" class="form-control" name="{{name}}" datetime-picker="{{dateformat}}"
                       ng-model="params.filter()[name]" is-open="vm.datePickerOpenStatus.from" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('from')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div>
            <div class="input-group">
                <input id="field_to" type="text" class="form-control" name="{{name}}" datetime-picker="{{dateformat}}"
                       ng-model="params.filter()[name]" is-open="vm.datePickerOpenStatus.to" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('to')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
    </script>
    <div>
        <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
            <tbody>
                <tr ng-repeat="run in $data track by run.id">
                    <td data-title="'Day'" filter="{ day : 'date', name: 'filters/date.html' }">
                        {{run.day | date:'medium'}}
                    </td>
                    <td data-title="'Distance (in meters)'" filter="{ distance : 'number' }">
                        {{run.distance}}
                    </td>
                    <td data-title="'Duration (in minutes)'" filter="{ duration : 'number' }">
                        {{run.duration}}
                    </td>
                    <td data-title="'Average Speed'" filter="{ averageSpeed : 'number' }">
                        {{run.averageSpeed}} meters/minute
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="run-detail({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="run.edit({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="run.delete({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
