<div>
    <h2>
        Runs
        <button class="btn" ui-sref="run.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span>New</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="day"><span>Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distance"><span>Distance (in meters)</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span>Duration (in minutes)</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="averageSpeed"><span>Average Speed</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="run in vm.runs track by run.id">
                    <td>{{run.day | date:'medium'}}</td>
                    <td>{{run.distance}}</td>
                    <td>{{run.duration}}</td>
                    <td>{{run.averageSpeed}} meters/minute</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="run-detail({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="run.edit({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="run.delete({id:run.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
