<div>
    <h2>
        Users
        <button class="btn" ui-sref="users.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span>New</span>
        </button>
    </h2>
    <alert></alert>
    <div class="table-responsive">
        <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
            <tbody>
                <tr ng-repeat="user in $data track by user.id">
                    <td data-title="'Email'">
                        {{user.email}}
                    </td>
                    <td data-title="'Authorities'" >
                        <span ng-repeat="authority in user.authorities" class="label label-info">{{ authority }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="users-detail({id:user.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="users.edit({id:user.id})"
                                    class="btn btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="users.delete({id:user.id})"
                                    class="btn btn-sm" ng-disabled="vm.currentAccount.email==user.email">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
