<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Sign Up</h1>
            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration successful!</strong> You can log in.
            </div>
            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>
            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.registerAccount.email" required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.registerAccount.password" ng-minlength=5 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
